.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.welcome-text {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between buttons */
}

/* Ensure buttons are the same length */
.welcome-page button, .welcome-page .mat-mdc-raised-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border-radius: 20px !important;
  padding: 10px 20px !important;
  border: 1px solid black !important;
  background-color: black !important;
  color: white !important;
  cursor: pointer !important;
  text-transform: none !important;
  transition: background-color 0.3s, color 0.3s !important;
  width: 250px; /* Fixed button width */
}

.welcome-page button:hover, .welcome-page .mat-mdc-raised-button:hover {
  background-color: white !important;
  color: black !important;
}

.or-text {
  font-size: 1rem;
  font-weight: 600;
  margin: 10px 0;
}