<div class="movie-cards-container">
    <mat-card *ngFor="let movie of movies">
      <!-- Movie Image -->
      <div class="image-container"> 
        <!-- Heart Icon at the top left corner -->     
        <button
        mat-icon-button
        class="favorite-icon"
        (click)="toggleFavorite(movie._id)"
        [attr.aria-label]="'Toggle favorite status for ' + movie.Title"
        style="color: red;"
        >
        <mat-icon>
            {{ isFavorite(movie._id) ? 'favorite' : 'favorite_border' }}
        </mat-icon>
      </button>
        <img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" />
      </div>
  
      <!-- Movie Info -->
      <div class="info-container">
        <mat-card-title>{{ movie.Title }}</mat-card-title>
        <mat-card-subtitle>Directed by {{ movie.Director.Name }}</mat-card-subtitle>
  
        <!-- Buttons for Dialog -->
        <div class="dialog-buttons">
          <button mat-button (click)="openGenreDialog(movie)">Genre</button>
          <button mat-button (click)="openDirectorDialog(movie)">Director</button>
          <button mat-button (click)="openSynopsisDialog(movie)">Synopsis</button>
        </div>
      </div>
    </mat-card>
  </div>